<div class="site-footer">
	<div class="footer-area-wrap invert">
		<div class="container">
			<div class="footer-area widget-area row">
				<div class="footer-logo col-xs-12 col-sm-6 col-md-3">
					<a href="#"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="Computing Society"></a>
				</div>
				<div id="footer-about" class="footer-about col-xs-12 col-sm-6, col-md-3">
					<a href="#about">About</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
				</div>
				<div id="footer-contact" class="footer-contact col-xs-12 col-sm-6, col-md-3">
					<a href="#contact">Contact</a>
					<div>
						<ul>
							<li><span class="glyphicon glyphicon-map-marker"></span>University of The West Indies</li>
							<li><span class="glyphicon glyphicon-globe"></span>www.uwicomputingsociety.com</li>
							<li><span class="glyphicon glyphicon-envelope"></span>computingsociety@gmail.com</li>
							<li><span class="glyphicon glyphicon-earphone"></span>1 876 555 5555</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-container">
		<div class="site-info container">
			<div class="footer-copyright">
				2017 &copy; <span>Computing Society</span>
			</div>
		</div>
	</div>
</div>