<div class="site-footer">
	<div class="footer-area-wrap invert">
		<div class="container">
			<div class="footer-area widget-area row">
				<div class="footer-logo col-xs-12 col-sm-6 col-md-3">
					<a href="{{ url_for('site.index') }}"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="Computing Society"></a>
				</div>
				<div id="footer-about" class="footer-about col-xs-12 col-sm-6, col-md-3">
					<a href="{{ url_for('site.about') }}">About</a>
					{% for mission in about %}
						<p>{{ mission.mission }}</p>
					{% endfor %}
				</div>
				<div id="footer-contact" class="footer-contact col-xs-12 col-sm-6, col-md-3">
					<a href="#contact">Contact</a>
					<div>
						<ul>
							<li><span class="glyphicon glyphicon-map-marker"></span>University of The West Indies</li>
							<li><span class="glyphicon glyphicon-globe"></span>www.uwimonacs.org.jm</li>
							<li><span class="glyphicon glyphicon-envelope"></span>uwimonacs@gmail.com</li>
							<li><span class="glyphicon glyphicon-earphone"></span>1 876 555 5555</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-container">
		<div class="site-info container">
			<div class="footer-copyright">
				2017 &copy; <span>Computing Society</span>
			</div>
		</div>
	</div>
</div>