<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" content="text/html" http-equiv="Content-Type">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Computing Society</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sign-in-up.css') }}">
	</head>
	<body>
		<header>
			<div class="header-container">
				<a href="{{ url_for('site.index') }}"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="Computing Society"></a>
			</div>
		</header>
		<main>
			<div class="main-container">
				<div>
					<div class="sign-in-up-container">
						<div class="tabs">
							{% if display == 1 %}
								<div id="sign-up-tab" class="tab-plane tab-plane-text">Sign Up</div>
								<div id="sign-in-tab" class="tab-plane-selected tab-plane-text tab-plane-selected-right">Sign In</div>
							{% elif display == 2 %}
								<div id="sign-up-tab" class="tab-plane-selected tab-plane-text tab-plane-selected-left">Sign Up</div>
								<div id="sign-in-tab" class="tab-plane tab-plane-text">Sign In</div>
							{% endif %}
						</div>
						{% if display == 1 %}
							<div id="sign-in-content" class="tab-content">
								<div>
									<div>
										<div class="form-header">
											Log Into Your Account
										</div>
										<form action="{{ url_for('site.sign_in') }}" method="post" enctype="multipart/form-data">
											<div class="form-design">
												<div class="form-group">
													<input type="email" name="email" autocomplete="off" placeholder="Email Address" class="text-input">
												</div>
												<div class="form-group">
													<input type="password" name="password" autocomplete="off" placeholder="Password" class="text-input">
												</div>
											</div>
											<button type="submit" class="btn btn-style">Sign In</button>
										</form>
										<br>
										<a href="#">Forgot your password?</a>
									</div>
								</div>
							</div>
							<div id="sign-up-content" class="tab-content display-content">
								<div>
									<div>
										<div class="form-header">
											Create Your Account
										</div>
										<form action="{{ url_for('site.sign_up') }}" method="post" enctype="multipart/form-data">
											<div class="form-design">
												<div class="form-group">
													<input type="text" name="firstname" value="" autocomplete="off" placeholder="First Name*" class="text-input">
													<input type="text" name="lastname" value="" autocomplete="off" placeholder="Last Name*" class="text-input input-margin">
												</div>
												<div class="form-group">
													<input type="email" name="email" value="" autocomplete="off" placeholder="Email Address*" class="text-input">
												</div>
												<div class="form-group">
													<input type="password" name="password" value="" autocomplete="off" placeholder="Password*" class="text-input">
													<input type="password" name="confirm" value="" autocomplete="off" placeholder="Confirm Password*" class="text-input input-margin">
													<input type="hidden" name="status" value="admin">
												</div>
											</div>
											<button type="submit" class="btn btn-style">Sign Up</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					{% elif display == 2 %}
						<div id="sign-in-content" class="tab-content display-content">
								<div>
									<div>
										<div class="form-header">
											Log Into Your Account
										</div>
										<form action="{{ url_for('site.sign_in') }}" method="post" enctype="multipart/form-data">
											<div class="form-design">
												<div class="form-group">
													<input type="email" name="email" autocomplete="off" placeholder="Email Address" class="text-input">
												</div>
												<div class="form-group">
													<input type="password" name="password" autocomplete="off"  placeholder="Password" class="text-input">
												</div>
											</div>
											<button type="submit" class="btn btn-style">Sign In</button>
										</form>
										<br>
										<a href="#">Forgot your password?</a>
									</div>
								</div>
							</div>
							<div id="sign-up-content" class="tab-content">
								<div>
									<div>
										<div class="form-header">
											Create Your Account
										</div>
										<form action="{{ url_for('site.sign_up') }}" method="post" enctype="multipart/form-data">
											<div class="form-design">
												<div class="form-group">
													<input type="text" name="firstname" value="" autocomplete="off" placeholder="First Name*" class="text-input">
													<input type="text" name="lastname" value="" autocomplete="off" placeholder="Last Name*" class="text-input input-margin">
												</div>
												<div class="form-group">
													<input type="email" name="email" value="" autocomplete="off" placeholder="Email Address*" class="text-input">
												</div>
												<div class="form-group">
													<input type="password" name="password" value="" autocomplete="off" placeholder="Password*" class="text-input">
													<input type="password" name="confirm" value="" autocomplete="off" placeholder="Confirm Password*" class="text-input input-margin">
													<input type="hidden" name="status" value="admin">
												</div>
											</div>
											<button type="submit" class="btn btn-style">Sign Up</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</main>
	</body>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.1.1.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/functionalities.js')}}"></script>
</html>